<%- include('header') -%>
	<p>MyPiqs!!!</p>
	<p><%= mypiqs.length %> piqs</p>

    <div class="container">
      <% for (i = 0; i < mypiqs.length; i++) { %>
        <a class="plink" href="/piq/<%= mypiqs[i]._id %>">
        	<div class="piq" style="background-color: <%= mypiqs[i].color %> ;"></div>
        </a>
      <% } %>
    </div>

<%- include('footer') -%>